{% extends 'base.html' %}

{% block header %}
    <h1>Aber wieso?</h1>
{% endblock header %}

{% block main %}
    <section>
        <h2>Was jetzt schon wieder?</h2>
        <p>Hier laufen alle Fragen für dich auf. Tja, selbst schuld!</p>
        <hr/>
    </section>

    <article>
        <h2>Frage von Eumel vom 30. Februar</h2>
        <p>Was kostet der Fisch?</p>
        <form>
            <label> Antwort:
                <textarea></textarea>
            </label>
            <input type="submit" value="das kann so raus"/>
        </form>
        <ul style="display:list-item; list-style-type: circle;">
            <li><a href="">Unfug? Löschen!</a></li>
            <li><a href="">Frech? Melden!</a></li>
        </ul>
        <hr/>
    </article>

    <article>
        <h2>Frage von Nase von gestern</h2>
        <p>Lieber nicht regieren oder lieber falsch regieren?</p>
        <form>
            <label> Antwort:
                <textarea></textarea>
            </label>
            <input type="submit" value="das kann so raus"/>
        </form>
        <ul style="display:list-item; list-style-type: circle;">
            <li><a href="">Unfug? Löschen!</a></li>
            <li><a href="">Frech? Melden!</a></li>
        </ul>
        <hr/>
    </article>

    <article>
        <h2>Frage von vor 5 Minuten</h2>
        <p>Berliner oder Frikadelle?</p>
        <form>
            <label> Antwort:
                <textarea></textarea>
            </label>
            <input type="submit" value="das kann so raus"/>
        </form>
        <ul style="display:list-item; list-style-type: circle;">
            <li><a href="">Unfug? Löschen!</a></li>
            <li><a href="">Frech? Melden!</a></li>
        </ul>
        <hr/>
    </article>

    <section style="text-align: center;">
        <ul>
            <li style="display: inline"><a href=""><<</a></li>
            <li style="display: inline"><a href=""><</a></li>
            <li style="display: inline"><a href="">1</a></li>
            <li style="display: inline"><a href="">2</a></li>
            <li style="display: inline">3</li>
            <li style="display: inline"><a href="">4</a></li>
            <li style="display: inline"><a href="">5</a></li>
            <li style="display: inline"><a href="">></a></li>
            <li style="display: inline"><a href="">>></a></li>
        </ul>
    </section>
{% endblock main %}
