{% extends 'base.html' %}

{% block header %}
    <h1>Aber wieso?</h1>
{% endblock header %}

{% block main %}
    <section>
        <h2>Neu hier?</h2>
        <p>Schnell Account besorgen und dich fortwährend fragen, warum eigentlich!</p>
        <a href="">Account erstellen</a>
    </section>

    <section>
        <h2>Öfter hier?</h2>
        <p>Wenn du schon einen Zugang hast, logg dich hier ein und finde raus, was es für dich Neues gibt</p>
        <a href="">Einloggen</a>
    </section>
{% endblock main %}
